header{
    padding: 60px;
    text-align: center;
    background: #0A2239;
    color: white;
    
}

ul{
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-color: rgb(126, 25, 126);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}


li a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    text-align: center;
}

li a:hover{
    background-color: white;
    color: #0A2239;
    padding: 8px 8px 8px 32px;
}

li a:hover:not(.active){
    background-color:rgb(126, 25, 126);
}

.active{
    background-color: rgb(23, 99, 199);
}

li {
    float: left;
}


*{
    box-sizing: border-box;
}

@media only screen and (max-width: 700px){
    .responsive{
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive{
        width: 100%;
    }
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}


footer{
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    color: white
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }
